/*Style for general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #67318b;
}

/*Style for Navigation Bar*/
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: rgb(108, 9, 238);
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(108, 9, 238);
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

/*Style for home*/
/*#fondo{
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}*/


/*Style for noe*/
#noefondo{

}
#noeimg{
    width: 8%;
    height: 8%;
    border-radius: 50%;
}


/*Style for */


/*Style for */


/*Style for */


/*Style for */


/*Style for */


/*Style for */


/*Style for */


/*Style for */


/*Style for */


/*Style for the footer*/
footer {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #000;
    text-align: center;
    color: #73b854;
}

ul {
    position: relative;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
}

ul li a .fa-brands {
    font-size: 5em;
    color: #222;
}

ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

ul li:nth-child(1) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg,
            #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,
            #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #dc2743;
}

ul li:nth-child(2) a::before {
    content: "\f232";
    color: #25D366;
    border-bottom: 2px solid #25D366;
}

ul li:nth-child(3) a::before {
    content: "\f08c";
    color: #077ac2;
    border-bottom: 2px solid #077ac2;
}

ul li:hover a::before {
    height: 100%;
}